<div class="card" style="width: 18rem;">
    <img src="{{product?.imgUrl}}" class="card-img-top" alt="...">
    <div class="card-body">
        <p>Name:{{product?.name}}</p>
       <p>Price:{{product?.price}}</p>
       <p>Quantity:{{product?.quantity}}</p>
       <button class="btn btn-primary" (click)="Back()" > Back </button>
       <button class="btn btn-success" (click)="Next()" [disabled]="currentId==IdsArray[IdsArray.length-1]"> next </button>
       <button class="btn btn-danger"  (click)="Previous()" [disabled]="currentId==IdsArray[0]"> previous </button>
       
    </div>
  </div>

